$primary-color=#00CC66;

$one-color=#409EFF;
$second-color=#00CCFF;
$third-color=#CCFFFF;

$three-color=#66CCFF;
$five-color=#66FFFF;

 $hover-color=#00CCFF
 $btn-color= #99CCFF  
 $bac-color1=#336699
 $bac-color2=#3366CC
 $bac-color3=#3366FF
 $bac-color4=#3399FF



$f-c1=#409EFF;
$f-c2=#606266;
$f-c3=#999999;
$f-c4=#cccccc;


