.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-primary{
    color: $primary-color;    
}
.text-second{
    color: $second-color;    
}
.text-third{
    color: $third-color;    
}
.h1 
    font-size 40px 
.h2 
    font-size 30px 
.h3 
    font-size 20px 
.h4 
    font-size 16px 



.f-32{
    font-size 32px 
}  

.f-20{
    font-size 20px 
}  
.f-18{
    font-size 18px 
}
.f-16{
    font-size 16px 
}     
