input{
    width: 80%;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    display: block;
    box-sizing border-box
    border: 1px solid $font-color3;
    color: $font-color1
}
input:focus{
    outline:none;
    border: 1px solid $primary-color;
}
.el-button {
    // outline: none;
    // // border-radius: 10px;
    // color: #ffffff;
    width 60px
    height 30px
    padding: 5px 10px;
    cursor pointer
}
.btn-danger{
    background: $third-color  
    color: #ffffff  
}
select{
    width: 80%;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    display: block;
    box-sizing border-box
    border: 1px solid $font-color3;
    color: $font-color1
}
